<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Drug Search Helper Form</title>
</head>
<body>
  <h1>Drug Information Form</h1>
  <form method="post" action="/add_drug">
    <label for="drugName">drug_name:</label>
    <input type="text" id="drug_name" name="drug_name" required>

    <label for="dosageForm">dosage_form:</label>
    <input type="text" id="dosage_form" name="dosage_form" required>

    <label for="therapeuticClass">therapeutic_class:</label>
    <input type="text" id="therapeutic_class" name="therapeutic_class" required>

    <label for="routeOfAdministration">route_of_administration:</label>
    <input type="text" id="route_of_administration" name="route_of_administration" required>

    <label for="dosageStrength">dosage_strength:</label>
    <input type="text" id="dosage_strength" name="dosage_strength" required>

    <label for="drugid">drug_id:</label>
    <input type="text" id="drug_id" name="drug_id" required>

    <input type="submit" value="Submit">
</form>
</body>
</html>